.footer {
  background-color: var(--midnight-900);
  color: var(--gray-400);
  padding: 0 var(--side-padding);
  position: relative;
  font-family: 'Kia Signature Fix Regular', Arial, sans-serif, Helvetica;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: var(--font-md);
  height: var(--footer-height);
  justify-content: space-between;
  line-height: var(--line-height);
  margin: 0 auto;
  max-width: var(--max-width);
}

.information {
  display: flex;
  flex-direction: column;
}

.util {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.util button {
  background: none;
  border: none;
  line-height: var(--line-height);
  margin-left: 24px;
  color: #fff;
  font-size: var(--font-lg);
  cursor: pointer;
}

.address {
  text-align: right;
}

.address em,
.address i {
  font-style: normal;
}

.address span {
  color: inherit;
  margin-left: 12px;
  display: inline-flex;
  font-style: normal;
}

.address span > em {
  margin-left: 12px;
}

.address a {
  color: inherit;
  text-decoration: underline;
}

.copyright {
  font-size: var(--font-md);
  position: relative;
}

.copyright::before {
  content: '';
  display: block;
  background-image: url('/images/logo_kia_footer.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 140px;
  height: 56px;
  margin-bottom: 2px;
}
