.footer {
  background-color: var(--midnight-900);
  color: var(--gray-400);
  padding: 0 var(--side-padding);
  position: relative;
  font-family: var(--font-family-kia-regular);
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: var(--font-md);
  height: var(--footer-height);
  justify-content: space-between;
  line-height: var(--line-height);
  margin: 0 auto;
  max-width: var(--max-width);
}

.information {
  display: flex;
  flex-direction: column;
}

.util {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.util button {
  background: none;
  border: none;
  line-height: var(--line-height);
  margin-left: 24px;
  color: #fff;
  font-size: var(--font-lg);
  cursor: pointer;
}

.address {
  text-align: right;
}

.address em,
.address i {
  font-style: normal;
}

.address span {
  color: inherit;
  margin-left: 12px;
  display: inline-flex;
  font-style: normal;
}

.address span > em {
  margin-left: 12px;
}

.address a {
  color: inherit;
  text-decoration: underline;
}

.copyright {
  font-size: var(--font-md);
  position: relative;
}

.copyright::before {
  content: '';
  display: block;
  background-image: url('/images/logo_kia_footer.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 140px;
  height: 56px;
}

/* 1023px 이하 (태블릿) */
@media (max-width: 1023px) {
  .inner {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-bottom: 44px;
    padding-top: 34px;
  }

  .information {
    order: 1;
    width: 100%;
  }

  .util {
    justify-content: flex-start;
    margin-bottom: 16px;
  }

  .util button {
    margin-left: 0;
    margin-right: 24px;
  }

  .address {
    text-align: left;
  }

  .address span {
    margin-left: 0;
    margin-right: 8px;
    display: inline-block;
    line-height: 1.8;
    width: auto;
    max-width: 33%;
  }

  .address span:nth-child(2n) {
    margin-right: 0;
  }

  .address span:nth-child(3n) {
    margin-right: 0;
  }

  .address span:nth-child(3) {
    display: block;
    max-width: 100%;
  }

  .copyright {
    order: 2;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright::before {
    height: 48px;
  }
}

/* 743px 이하 (모바일) */
@media (max-width: 743px) {
  .inner {
    padding: 24px 0;
  }

  .util button {
    margin-right: 16px;
    font-size: 14px;
  }

  .address span {
    display: block;
    margin-right: 0;
    max-width: 100%;
    font-size: 12px;
  }

  .address span:nth-child(5),
  .address span:nth-child(6) {
    display: inline-block;
    margin-right: 8px;
  }

  .address span:nth-child(6) {
    margin-right: 0;
  }

  .address {
    margin-bottom: 20px;
  }

  .copyright {
    margin-top: 10px;
    font-size: 12px;
  }

  .copyright::before {
    width: 100px;
    height: 32px;
  }
}
