.item {
  border-bottom: 1px solid var(--gray-100);
  padding: 0;
}

.question {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
  font-size: var(--faq-list-a-size);
  line-height: var(--line-height-sm);
  overflow: hidden;
  padding: var(--faq-list-a-padding-v) 0;
  padding-right: var(--faq-list-a-padding-h);
  position: relative;
}

.open {
  background-color: var(--gray-10);
}

.questionWrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.category {
  font-size: var(--faq-list-a-size);
  line-height: var(--line-height-sm);

  box-sizing: initial;
  color: var(--gray-500);
  padding: 0 var(--faq-list-a-padding-h);
  width: 8em;
  flex-shrink: 0;
  font-family: var(--font-family-kia-regular);
}

.content {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 12px;
}

.title {
  flex: 1;
  padding-left: var(--faq-list-a-padding-h);
  text-align: left;
  font-family: var(--font-family-kia-bold);
  font-size: var(--faq-list-a-size);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out;
  margin-left: 12px;
  flex-shrink: 0; /* 화살표 크기 고정 */
}

.arrowOpen {
  transform: rotate(180deg);
}

.arrowIcon {
  width: 32px;
  height: 32px;
}

.answerWrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.expanded {
  max-height: 500px;
}

.answer {
  border-top: 1px solid var(--gray-100);
  font-size: 1rem;
  line-height: var(--line-height-lg);
  overflow-x: scroll;
  padding: var(--faq-list-q-padding);
}

.answer * {
  all: revert;
}

/* 1024px 이하일 때 (태블릿) */
@media (max-width: 1023px) {
  .questionWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .category {
    width: auto;
    padding: 0 0 4px 0;
    margin-bottom: 2px;
    font-size: calc(1em - 4px);
    line-height: var(--line-height-md);
  }

  .title {
    padding-left: 0;
  }

  .content {
    width: 100%;
    padding-left: 0;
  }

  .arrow {
    align-self: center; /* 화살표를 중앙에 위치 */
  }

  .arrowIcon {
    width: 28px;
    height: 28px;
  }

  .answer {
    font-size: 1rem;
  }
}

/* 744px 이하일 때 (모바일) */
@media (max-width: 743px) {
  .arrowIcon {
    width: 24px;
    height: 24px;
  }
}
