.container {
  border-top: 2px solid var(--midnight-900);
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.empty {
  text-align: center;
  color: var(--gray-700);
  font-size: var(--heading-info);
  padding: var(--space-box2) 0;
  font-family: var(--font-family-kia-regular);
  text-align: center;
}

.empty img {
  width: 56px;
  height: 56px;
}

.emptyText {
  color: var(--gray-500);
  line-height: var(--line-height-md);
  margin-top: var(--space-xsm);
}

/* 더보기 버튼 */
.moreWrap {
  text-align: center;
  margin-top: calc(var(--px-lg) - 8px);
}

.moreButton {
  background: none;
  border: none;
  font-size: var(--list-more-size);
  color: var(--midnight-900);
  cursor: pointer;
  padding: 12px;
  transition: color 0.2s ease;
}

.moreButton:hover {
  color: var(--gray-600);
}
