.searchBarWrap {
  background-color: var(--gray-10);
  display: flex;
  justify-content: center;
  margin-bottom: var(--px-md);
  padding: var(--px-md);
}

.inputBox {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--gray-700);
  width: var(--search-bar-width);
  height: var(--btn-xlg2);
  padding: 0 12px;
  box-sizing: border-box;
  position: relative;
}

.input {
  flex: 1;
  border: none;
  font-size: 16px;
  outline: none;
  background: transparent;
  height: 100%;
  font-family: var(--font-family-kia-regular);
}
.input::placeholder {
  color: var(--gray-300);
  opacity: 1;
}

.searchBtn,
.clearBtn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.clearBtn {
  margin-right: 8px;
}

.searchMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-900);
  margin: var(--px-md) 0;
}

.searchMeta p {
  font-size: var(--heading-info);
  font-weight: 500;
}

.resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  font-weight: 400;
  color: var(--midnight-900);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: var(--space-xsm2);
}

.resetBtn img {
  height: var(--ic-sm);
  width: var(--ic-sm);
}
